@model IEnumerable<VgcCollege.Library.CourseEnrolment>

<h2>My Enrolments</h2>

<table class="table">
    <thead>
    <tr>
        <th>Course</th>
        <th>Enrolment Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Course.Name</td>
            <td>@item.EnrolDate.ToShortDateString()</td>
            <td>
                <a asp-action="AttendanceHistory" asp-route-id="@item.CourseId" class="btn btn-info">View My Attendance</a>
            </td>
        </tr>
    }
    </tbody>
</table>